<h1>Login#index</h1>

<body>
  <a href="https://accounts.spotify.com/authorize?client_id=<%= @client_id %>&amp;response_type=code&amp;redirect_uri=<%= @redirect_uri %>&amp;scope=user-read-recently-played%20user-read-email">
    Sign in with Spotify
  </a>
</body>
