<div class="fade_in">
<div class="container">   
   <div class="row">
        <div class="col">
        </div>
        <div class="col">
            <h1>Your score: <%= @score %></h1>
        </div>
        <div class="col">
        </div>
    </div>

    <div class="row">
        <div class="col">
        </div>
        <div class="col">
            <h2>Guess: <%= @guess %></h2>
        </div>
        <div class="col">
        </div>
    </div>

    <div class="row">
        <div class="col">
        </div>
        <div class="col">
            <h2>Answer: <%= @artist_name %></h2>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col">
            <img src=<%=@artist_img_url %> class="artist-image">
        </div>
        <div class="col">
        </div>
    </div>




  <div class="row">
      <div class="col">
          <a href="/home">
            <button class="play_btn">Home</button>
          </a>
      </div>
      
      <div class="col">
          <a href="/scoreboard">
            <button class="play_btn">Scoreboard</button>
          </a>
      </div>  

      <div class="col">
        <a id="logout"><button class="play_btn">Logout </button></a>
      </div>

    </div>
</div>

<div>

<% if @confetti %>
<script type="text/javascript" src="../../app/assets/javascript/confetti.js"></script>
    <script>

        const start = () => {
            setTimeout(function() {
                confetti.start()
            }, 1000);
        };
        const stop = () => {
            setTimeout(function() {
                confetti.stop()
            }, 5000);
        };

        start();
        stop();
    </script>
<% end %>

