<h1>Results for <%=@artist_name%></h1>

<div>

<table class="table table-dark table-striped table-hover">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Guess</th>
        <th scope="col">Actual</th>
        <th scope="col">Score</th>
        </tr>
    </thead>
    <tbody>
        <% @results.each do | result | %>
            <tr>
            <th scope="row">1</th>
            <td><%= result[:guess] %></td>
            <td><%= result[:actual] %></td>
            <td><%= result[:score] %></td>
            </tr>
        <% end %>
    </tbody>
</table>
<a class="btn btn-dark" role="button" href='/home' >Return to Home Page</a>
<a class="btn btn-dark" role="button" href='/game' >Play Again</a>

</div>