<h1>Scoreboard</h1>
<p>Find me in app/views/scoreboard/index.html.erb</p>

<div>
<table class="table table-dark table-striped table-hover">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Number of Games</th>
        <th scope="col">Total Score</th>
        <th scope="col">Average Score</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>55</td>
        <td>150</td>
        <td>8.5</td>
        </tr>
        <tr>
    </tbody>
</table>

</div>