<h1 >Welcome back <%=  %> </h1>


<form action="/game">
    <input type="submit" value="Play" />
</form>

<form action="/scoreboard">
    <input type="submit" value="Scoreboard" />
</form>


<h2>Your recent scores</h2>
<%=  %>