
<h1>Games</h1>

<form method="get", action="/result">
<input type="hidden" value= <%=@artist[:id]%> name ="artist_id" >
  <ol>
  <lh> Guess song by <%=@artist[:name]%>  </lh>
    <li> <input type="text" name="guess_1" </li>
    <li> <input type="text" name="guess_2" </li>
    <li> <input type="text" name="guess_3" </li>
    <li> <input type="text" name="guess_4" </li>
    <li> <input type="text" name="guess_5" </li>
  </ol>
  <input type ="submit"> 
</form>

<% @top_five_tracks.each do |tracks| %>
  <p> <%=tracks%> </p>
<% end %>
