
<div class="container">
  <div class="row">
    <h1>Guess the Artist </h1>
  </div>

  <div class="row">
    <div class="col">
    </div>
    <div class="col">
        
    </div>
    <div class="col">
    </div>
  </div>
  <% @top_five_tracks.each do |tracks| %>
    <p> <%=tracks%> </p>
  <% end %>
  <form method="get", action="/guess-artist/results" class="form-group" >
    <input type="hidden" value=<%=@artist[:id]%> name="artist_id" >
    <input type="text" name="guess">
    <input type="submit" class="play_btn"> 
  </form>


  <div class="row">
      <div class="col">
          <a href="/game">
            <button class="play_btn">Home</button>
          </a>
      </div>
      
      <div class="col">
          <a href="/scoreboard">
            <button class="play_btn">Scoreboard</button>
          </a>
      </div>  

      <div class="col">
        <a id="logout"><button class="play_btn">Logout </button></a>
      </div>

    </div>
</div>

  <script>
    const button = document.querySelector("#logout")
    const origin = window.location;
    function logout() {
        const spotifyLogoutWindow = window.open("/logout", 'popup','width=600,height=600')                                                                                              
        setTimeout(() => spotifyLogoutWindow.close(), 2000)
        setTimeout(() => origin.reload(), 3000)
    }

    button.addEventListener('click', logout)

    </script>
