
<div class="container">
  <div class="row">
      <div class="col">
      </div>
      <div class="col">
        <h1 class="game-title" style="margin-bottom: 25px;">Guess the Artist</h1>
      </div>
      <div class="col">
      </div>
  </div>

  <div class="row">
    <div class="col">
    </div>

    <div class="col" style="text-align: center;">
      <% @top_five_tracks.each do |tracks| %>
          <h3 style="margin-bottom: 15px;"> <%=tracks%> </h3>
          <hr>
      <% end %>
    </div>

    <div class="col">
    </div>
  </div>

  <div class="row">
    <div class="col">
    </div>

    <div class="col">
      <form method="get", action="/guess-artist/results" class="form-group" >
        <input type="hidden" value=<%=@artist[:id]%> name="artist_id" >
        <input type="text" name="guess" class="form-control">
        <input type="submit" class="buttons-game" style="background-color: black; color: white;"> 
      </form>
    </div>

    <div class="col">
    </div>

  <div class="row">
      <div class="col">
          <a href="/game">
            <button class="buttons-game">Home</button>
          </a>
      </div>
      
      <div class="col">
          <a href="/scoreboard">
            <button class="buttons-game">Scoreboard</button>
          </a>
      </div>  

      <div class="col">
        <a id="logout"><button class="buttons-game">Logout </button></a>
      </div>

    </div>
</div>

  <script>
    const button = document.querySelector("#logout")
    const origin = window.location;
    function logout() {
        const spotifyLogoutWindow = window.open("/logout", 'popup','width=600,height=600')                                                                                              
        setTimeout(() => spotifyLogoutWindow.close(), 2000)
        setTimeout(() => origin.reload(), 3000)
    }

    button.addEventListener('click', logout)

    </script>
