
<h1>Games</h1>

<form method="post", action="scoreboard">
  <ol>
  <lh> Guess song by Drake  </lh>
    <li> <input type="text" name="song1" </li>
    <li> <input type="text" name="song2" </li>
    <li> <input type="text" name="song3" </li>
    <li> <input type="text" name="song4" </li>
    <li> <input type="text" name="song5" </li>
  </ol>
  <input type ="submit"> 
</form>
